<!doctype html>
<html lang="{% block language %} fa-IR {% endblock %}">
<head>
    {% include 'meta_tags.html' %}
    <title>{% block title %} {{ page.title }} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="main.css") }}">
    {% block links %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    {% endblock %}
    {% block extra_head %}{% endblock %}
    {% block sytle %}{% endblock %}

</head>
<body>

<div class="container-fluid">
    {% include 'navbar.html' %}
    {% include 'header.html' %}
    {% block body %}
    {% endblock %}

    {% include 'footer.html' %}
    {% include 'map.html' %}
</div>
    {% block extra_footer %} {% endblock %}
    {% block js_end %}{% endblock %}
</body>
</html>