<!doctype html>
<html lang="{% block language %} en {% endblock %}">
<head>
    {% include 'meta_tags.html' %}
    <title>{% block title %} {{ page.title }} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="main.css") }}">
    {% block links %}
    {% endblock %}
    {% block extra_head %}{% endblock %}
    {% block sytle %}{% endblock %}

</head>
<body>

<div class="container-fluid">

    {% block body %}
        {% include 'navbar.html' %}
        {% include 'header.html' %}
    {% endblock %}

    {% block body_end %}
        {% include 'footer.html' %}
        {% include 'map.html' %}
    {% endblock %}
</div>
    {% block extra_footer %} {% endblock %}
    {% block js_end %}{% endblock %}
</body>
</html>