<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<footer style="background-color: #C24914">
    <div style="text-align: center; background-color: #362222;height: 5vw;padding-top: 1vw"><h2 style="color: white;padding-bottom: 10px" id="contact">CONTACT US</h2></div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div><h3 style="text-align: center;">Follow Us</h3></div>
                <hr style="height: 4px; background-color: black">
                <div style="text-align: center"><a href="https://instagram.com"><i class="fa fa-instagram" style="color: white;"> instagram</i></a></div>
                <br>
                <div style="text-align: center"><a href="https://facebook.com"><i class="fa fa-facebook" style="color: white"> face book</i></a></div>
                <br>
                <div style="text-align: center"><a href="https://twitter.com"><i class="fa fa-twitter" style="color: white"> twitter</i></a></div>
            </div>
            <div class="col-6">
                <div class="card" style="background-color: inherit;padding: 5px;border:2px solid whitesmoke">
                    <div style="text-align: center"><h3>Say Hello</h3></div>

                <hr style="height: 4px; background-color: black">
                    <form class="form" action="{{ url_for('comment') }}" method="post">
                        <div class="form-group">
                            <input class="form-control" name="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="phone" placeholder="Phone number">
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="email" placeholder="Email">
                        </div>
                        <div style="text-align: center">
                            <textarea name="message" rows="4" cols="25" placeholder="write your message..." style="border-radius: 5px; width: 100%"></textarea>
                        </div>
                        <br>
                        <div style="text-align: center"><button type="submit" class="btn bg-white ">submit</button></div>
                    </form>
                </div>

            </div>
            <div class="col-3">
                <div style="text-align: center"><h3>Our Cafe</h3></div>
                <hr style="height: 4px; background-color: black">
                <div style="text-align: center"><i class="fa fa-phone" style="color: white"> 021 44332211</i></div>
                <br><br>
                <div style="text-align: center"><p style="color: white">Tehran, Enghelab Square, 16 Azar St</p></div>
                <br><br>
                <div></div>
            </div>
        </div>
    </div>
    <div style="text-align: center; background-color: #362222; height: 5vw;padding-top: 1vw"><h2 style="color: white;margin-bottom: 0;margin-top: 10px;padding-bottom: 10px">Find us in map</h2></div>
</footer>