<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

<style>

ul li
{
Display:inline-block;
}
.menu_header {
    width: 1200px;
    height: 110px;
    background: #4b2e22;
    border: 1px solid #4b2e22;
    text-align:right;
    padding: 4px;
    top: 8px;
    left: 8px;
}
.col-12 {
    width: 300px;
    height: 100px;
    background:#4b2e22;
    color: #FFFFFF;
    float: left;
    padding: 4px;
    margin: 4px;
    text-align: right;
}

</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<div class="container-fluid" style="background-color:#4b2e22">
    <div style="width: 300px">
        <div class="col-12" style="height: 100px;padding: 10px">
            <img src="../image/logo.svg" alt="This is the best cafe in the world" style="width: 190px;height: 100px; border-radius: 22px" >
        </div>
    </div>
    <div class="menu_header" style="width: 700px" >
        <ul id="menu1_header" class="clearfix menuContent">
            <li id="menu1_header1" class="menu-item1 "><a href="...">Home</a></li>
            <li id="menu1_header2" class="menu-item2 "><a href="...">Menu</a></li>
            <li id="menu1_header3" class="menu-item3 "><a href="...">About us</a></li>
            <li id="menu1_header4" class="menu-item4 "><a href="...">Contact Us</a></li>
        </ul>
    </div>

</div>
    <div>
         <img src="../image/cofe.jpg" alt="This is the best cafe in the world" style="width: 1500px;height: 600px" >
    </div>