{% extends '_base.html' %}
{% block  language %} {{ data.language }} {% endblock %}
{% block title %} {{ data.title }} {% endblock %}
{% block links %}
    {#    <link rel="stylesheet" href="bootstrap.min.css">#}
    <link rel="icon" href="{{ url_for('static', filename='pictures/title_logo.jpg') }}" type = "image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nova Flat' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
{% endblock %}

{% block sytle %}
    <style>
        body{
            padding:0;

        }
        .base-color  {
            background-color: rgb(227, 214, 199);
        }
        #bottom_body {
            padding-top: 40px;
            padding-bottom: 30px;
        }

        #img_day {
            border: 4px dashed #6ac2a8;
            width: 100%;
            height: auto;
            border-radius: 20px 20px 20px;
            margin-bottom: 10px;
        }

        .beautiful_font {
            text-align: center;
            font-family: "Merienda", serif;
            color: brown;
            padding-top: 20px;
            width: 100%; /* test it later*/
        }

        /*.slide_img {*/
        /*    width: 100%;*/
        /*    height: auto;*/
        /*}*/

        /*.nova {*/
        /*    color: white;*/
        /*    font-family: Nova Flat, serif;*/
        /*}*/

        #bottom_body p {
            direction: ltr;
            text-align: center;
            font-size: large;
            color: #810e0e;
            font-weight: bold;
            padding: 15px 25px 15px 25px;
        }

        #bottom_body {
            direction: rtl;
        }
        .my-nav{
            color: white!important;
        }
        .my-nav:hover{
            color: #C24914!important;
            text-decoration: underline!important;
        }
    </style>

{% endblock %}

{% block body %}

<!-- menu header-->
<div class="container-fluid  p-0">
    <div class="row base-color">
        <div class="col-12">
               <h5 class="beautiful_font">
                    Enjoy Our Coffee shop
                </h5>
                <h2 style="text-align: center; width: 100%;font-family:Impact, serif">
                    Our Delicious Menu
                </h2>
                <hr style="width: 50%; border-color: #0c63e4; height: 8px; margin-bottom: 10px; border-style: dotted">
        </div>
    </div>
</div>
<!--end menu header-->

<!-- Menu -->
<div class="container-fluid base-color p-0 ">
	<div class="row base-color">
		<div class="col-12 col-md-4 col-lg-4 text-center">
			<a href="#">
				<img src="{{ url_for('static', filename='pictures/drink.png') }}" alt="drink" width="70px">
			</a>
		</div>

		<div class="col-12 col-md-4 col-lg-4 text-center">
			<a href="">
				<img src="{{ url_for('static', filename='pictures/dessert.png') }}" alt="dessert" width="70px">
			</a>
		</div>

		<div class="col-12 col-md-4 col-lg-4 text-center">
			<a href="#">
				<img src="{{ url_for('static', filename='pictures/food.png') }}" alt="food" width="80px">
			</a>
		</div>

	</div>
</div>
<!--end Menu-->

<!--  menu offer slide show cards -->
<div class="container-fluid p-0">

    <div class="row base-color" id="bottom_body">
    <div class="col-4">
        <img src="{{ url_for('static', filename='pictures/shake1.jpg') }}" alt="shake" id="img_day">
        <h5 style="text-align: center" class="card-title bg-light text-danger">Special Shake</h5>
    </div>
    <div class="col-8">
        <h4 class="beautiful_font">Our special offer</h4>
        <h3 style="text-align: center;width: 100%">Oreo Shake with caramel cream</h3>
        <hr style="width: 80%; border-color: #0162ea; height: 8px; margin-bottom: 10px; border-style:dashed;!important;">
        <p>
            Our special offer for you is this shake. It has a great taste. you gotta try it!
        </p>
        <br>
        <p id="menu">
            You hava several choices to order. You can see our menu below:
        </p>
        <div class="row" style="display: flex; justify-content: space-around">
            <div class="col-5">
                <ul style="list-style-image:url({{ url_for('static', filename='pictures/star-fill.svg') }});direction: ltr ">
                    <li style="font-weight: bold;font-size:larger">Food and Dessert</li>
                    <li>French fries</li>
                    <li>Shake</li>
                    <li>Pizza</li>
                    <li>Water</li>
                    <li>Cake</li>
                    <li>Ice cream</li>
                </ul>
            </div>
            <div class="col-5">
                <ul style="list-style-image:url('{{ url_for('static', filename='pictures/star-fill.svg') }}');direction: ltr ">
                    <li style="font-weight: bold;font-size: larger"> Hot Drinks</li>
                    <li>French coffee</li>
                    <li>Turkish coffee</li>
                    <li>espresso coffee</li>
                    <li>Late coffee</li>
                    <li>Moca coffee</li>
                    <li>Nescafe</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>
<!--  end menu offer slide show cards -->

{% endblock %}



{% block js_end %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script>
        var map = L.map('map').setView([29.642285, 52.459856], 13);
        var marker = L.marker([29.642285, 52.459856]).addTo(map);
        marker.bindPopup("<b>this is our cafe</b>").openPopup();
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoibWFrdGFiY2FmZSIsImEiOiJja3h4cnB4c3MxdHJ0MnZvem50ejQ4emo5In0.v7F3LoPnoKdrO7ttpErNKA'
        }).addTo(map);
    </script>
{% endblock %}


