  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

  <div class="container">
      <div class="row justify-content-center align-items-end" style="height: 100px">
      <button type="button" class="btn btn-dark text-warning w-50" data-toggle="modal" data-target="#mymodal">Submit orders</button>
      <div class="modal" id="mymodal">
          <div class="modal-dialog">
              <div class="modal-content" style="background-color: #380e0e">
                  <center><button type="button" class="close bg-danger" data-dismiss="modal" style="width: 10%;">&times;</button></center>
                  <div style="background-color: #380e0e; text-align: center">
                      <h4 style="color: white; font-family: 'Sofia' , sans-serif"><i>DRINK</i></h4>
                  </div>
                  <div style="background-color: #935e3b; font-family: 'Sofia' , sans-serif; padding: 5px">
                      <p>
                          Coffee: <b>2.99$</b><br>
                          Americano: <b>2.99$</b><br>
                          Espresso: <b>3.99$</b><br>
                          Late: <b>4.99$</b><br>
                          Hot Chocolate: <b>4.99$</b><br>
                          Tea: <b>1.99$</b><br>
                          Green Tea: <b>2.99$</b>
                      </p>
                  </div>
                  <div style="background-color: #380e0e; text-align: center">
                      <h4 style="color: white; font-family: 'Sofia' , sans-serif"><i>DESSERT</i></h4>
                  </div>
                  <div style="background-color: #935e3b; font-family: 'Sofia' , sans-serif; padding: 5px">
                      <p>
                          Orange Juice: <b>7.00$</b><br>
                          Ice Americano: <b>7.99$</b><br>
                          Ice Late: <b>9.99$</b><br>
                          Mohito: <b>11.99$</b><br>
                          Water: <b>1.99$</b>
                      </p>
                  </div>
                  <div style="background-color: #380e0e; text-align: center">
                      <h4 style="color: white; font-family: 'Sofia' , sans-serif"><i>FOOD</i></h4>
                  </div>
                  <div style="background-color: #935e3b; font-family: 'Sofia' , sans-serif; padding: 5px">
                      <p>
                          Apple Pie: <b>10.00$</b><br>
                          Cherry Pie: <b>11.00$</b><br>
                          Ice Cream: <b>8.99$</b><br>
                          Cace: <b>5.99$</b><br>
                          Shake: <b>12.00$</b>
                      </p>
                  </div>
                  <div class="row">
                      <div class="col-6"><button type="button" class="btn btn-danger w-100" data-dismiss="modal">Decline</button></div>
                      <div class="col-6"><button type="button" class="btn btn-primary w-100 " data-dismiss="modal" onclick="check_submit()">Accept</button></div>
                  </div>
              </div>
          </div>
      </div>
      </div>
  </div>